.main {
    background-image: url(/images/fon.png);
    margin: 0 113px;
    height: 2300px;
    width: 1140px;
    border: 1px solid springgreen;
}
.element {
    display: flex;
}
.element img {
    height: 630px;
    width: 404px;
}
.element div {
    border: 1px solid brown;
}
.second {
    width: 527px;
    margin-left: 75px;
    text-align: left;
}
